.bg-secondary {
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(white,white, yellow);
}

.titulo{
    font-family: cursive;
}

a {
    color: #aeb724;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer!important;
}

.bg-primary {
    background-color: #b2c027 !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #b2c027  !important;
}