.bg-secondary {
    background-color: yellow !important; /* For browsers that do not support gradients */
    //background-image: linear-gradient(rgb(255, 198, 43), #E6D927);
}

.titulo{
    font-family: cursive;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
}

a:hover {
    color: #807816;
    text-decoration: none;
    background-color: transparent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer!important;
}

.bg-primary {
    background-color: transparent !important;
    color: black !important;
    font-size: 30px;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: transparent !important;
    color: black !important;
    font-size: 30px;
}