<footer id="footer">
  <div class="container">

        
      <div style="color: white;" class="text-center">
        Total de {{views | number}} visitantes
      </div>



      <div class="credits">

            <a href="http://www.cnpq.br/" target="_blank">
                <img
                  class="footerImg"
                  src="../../assets/img/footer/cnpq.png"
                  title="CNPq"
                />  
            </a>

            <img
              src="../../assets/img/footer/cinenaescola.png"
              class="footerImg"
              title="Cinenaescola"
            />  
          

      </div>

      <div class="credits">
        &copy; <strong> CINENAESCOLA</strong>
        <br/>
        <div style="color: white !important;">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">CinenaEscola</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http:\\cinenaescola.org" property="cc:attributionName" style="color: white;" rel="cc:attributionURL">Adriana Mabel Fresquet</a> está licenciado com uma Licença <a rel="license" style="color: white;" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional</a>.
        </div>
      </div>


  </div>
</footer>