<footer id="footer">
  <div class="container">

      <div class="credits">

            <a href="http://www.cnpq.br/" target="_blank">
                <img
                  class="footerImg"
                  src="../../assets/img/footer/cnpq.png"
                  title="CNPq"
                />  
            </a>

            <img
              src="../../assets/img/footer/cinenaescola.png"
              class="footerImg"
              title="Cinenaescola"
            />  
          

      </div>

      <div class="credits">
        &copy; <strong> CINENAESCOLA</strong>
      </div>


  </div>
</footer>