<mat-card *ngFor="let item of contents" class="card mt-3 mr-3">

    {{ item.titulo }}

    <mat-card-header *ngIf="item.url" style="text-align: center;">
        <div [innerHtml]="item.ytEmbed"></div>
    </mat-card-header>

    <mat-card-header>
        <b> Entrevistado(a): &nbsp;</b> {{ item.nomeEntrevistado }}
    </mat-card-header>

    <mat-card-header>
        <b>País onde foi filmado:&nbsp;</b> {{ item.paisEntrevistado }}
    </mat-card-header>

    <mat-card-header>
        <b> Original:&nbsp;</b> {{ item.original }}
    </mat-card-header>

    <mat-card-header>
        <b>Duração:&nbsp;</b> {{ item.duracao }}
    </mat-card-header>

    <mat-card-header>
        <b>Descrição:&nbsp;</b> {{ item.descricao }}
    </mat-card-header>


    <mat-card-actions>
        <button *ngIf="item._id && isAdmin" mat-button (click)="delete(item._id)">Deletar</button>
        <button *ngIf="item._id && isAdmin" mat-button (click)="update(item)">Editar</button>
    </mat-card-actions>
</mat-card>