<div id="wrapper">
  <div id="over_map">

    <section class="text-center" style="position: relative;margin-top: 155px;z-index: 1;">

      <!--<select class="form-control" id="opt" [(ngModel)]="categoria" (change)="mudarCategoria()">
                <option *ngFor="let categoriaS of categorias" [value]="categoriaS.id">
                  {{ categoriaS.name }}
                </option>
              </select>-->
      <div class="card" style="width: 18rem;">
        <div class="card-header" style="cursor: pointer;" (click)="exibirCategorias()">
          Categorias <i #categoriaSeta class="fa fa-chevron-down pull-right"></i>
        </div>
        <ul [style.display]="isCategoriaAberta ? 'block' : 'none'" *ngFor="let categoria of categorias"
          class="dontShow list-group list-group-flush">
          <li id="{{categoria.id}}" style="cursor: pointer;" class="list-group-item text-left">
            <img *ngIf="categoria.icon" style="margin-right: 10px;" src="../../assets/icones/{{categoria.icon}}"
              width="30px" height="30px" />{{ categoria.name }}
          </li>
        </ul>
      </div>

    </section>
  </div>
  <agm-map [latitude]="location.lat" [zoom]="location.zoom" [longitude]="location.lng" [styles]="styles">
    <!--<agm-marker *ngFor="let pos of galleries" [iconUrl]="getIcon(pos.categoria)"
      (markerClick)="openModal(template, pos)" [latitude]="pos.lat" [longitude]="pos.lng">
    </agm-marker>-->

    <agm-marker *ngFor="let point of points" [iconUrl]="getIcon(1)" (markerClick)="selectMarker(point)"
      [latitude]="point.lat" [longitude]="point.lng">
    </agm-marker>



  </agm-map>
</div>

<ng-template #modalTemplate>
  <div class="modal-header">
    <div class="pull-left">
      <h4 class="modal-title">{{ point.nome }}</h4>
      <b>Categoria:</b> Abcedário
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div *ngIf="contents.length > 0">
      <app-abecedario [contents]="contents" [isAdmin]="false" (remover)="reciverDelete($event)"
        (alterar)="reciverAlter($event)">
      </app-abecedario>
    </div>
    <!--
    <div *ngIf="categoria == 2 && contents.length > 0">
      <app-audio [contents]="contents" [isAdmin]="false" (remover)="reciverDelete($event)"
        (alterar)="reciverAlter($event)">
      </app-audio>
    </div>

    <div *ngIf="categoria == 3 && contents.length > 0">
      <app-entrevista [contents]="contents" [isAdmin]="false" (remover)="reciverDelete($event)"
        (alterar)="reciverAlter($event)">
      </app-entrevista>
    </div>

    <div *ngIf="categoria == 4 && contents.length > 0">
      <app-producao-academica [contents]="contents" [isAdmin]="false" (remover)="reciverDelete($event)"
        (alterar)="reciverAlter($event)">
      </app-producao-academica>
    </div>
-->

  </div>
</ng-template>
