<!-- Masthead -->

<!-- Services -->
<section class="text-white text-center bg-head" id="intro-carrousel" style="margin-top: 120px;">
  <ngb-carousel
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    interval="10000"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="true"
    [activeId]="'slideTwo'"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/abecedarios.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!--  <h3>Abecedários</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/cineclubes.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!-- <h3>Conversas e entrevistas</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/cursos.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!--<h3>Produção acadêmica</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/entrevistas.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!-- <h3>Cinematecas</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/escolas.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
        <!-- <img src="../../assets/img/encontros.jpg" width="740px" alt="Random first slide" class="mh-100 img-fluid"
          style="height: 50vh">-->
      </div>
      <div class="carousel-caption">
        <!-- <h3>Escolas</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/podcasts.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!--  <h3>Politicas</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/politicas.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!--  <h3>Politicas</h3>-->
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img-responsive">
        <img
          src="../../assets/img/carrosel/producaoacademica.png"
          width=""
          alt="Random first slide"
          class="mh-100 img-fluid"
          
        />
      </div>
      <div class="carousel-caption">
        <!--  <h3>Politicas</h3>-->
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<!-- About Section -->
<section class="page-section textoInicial" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8" style="text-align: center;">
        <br />

        <div style="font-family: Timeless !important;" class="mt-0">
          <b style="color: #FF8400; font-family: Timeless !important;"><h2 style="display:inline">Cine</h2></b>
          <b style="color: #3FB9FF; font-family: Timeless !important;" ><h4 style="display:inline">na</h4></b>
          <b style="color: #00B50A; font-family: Timeless !important;"><h2 style="display:inline">escola</h2></b>
        </div>
        <hr class="divider light my-4" />
        <p class="mb-4" style="text-align: justify; text-justify: inter-word;">
          A plataforma <i>Cinenaescola</i> inaugura um espaço de encontro e produção colaborativa para as
          políticas e pedagogias do cinema e da educação na escola. Aqui estão reunidos alguns textos,
          acervos, arquivos visuais, de áudio e audiovisuais, em formato de entrevistas, conversas,
          abecedários audiovisuais, entre outros conteúdos abertos para pessoas interessadas nesses
          saberes e práticas. É possível consultar e contribuir com conteúdos.
          <br /><br />
          Em tempos de saturação de imagens e hiperconectividade, a presença do audiovisual na
          escola se torna uma possibilidade para experimentação do sensível na produção de
          conhecimento, um cenário privilegiado para ver e fazer filmes como gesto de atenção, cuidado
          e amor ao mundo.
          <br /><br />
          A partir da etimologia da palavra escola (da palavra grega, skholé, que significa literalmente tempo
          livre e das palavras latinas scholae (lugar ou estabelecimento público destinado ao ensino) e otium
          (ócio, negado pelo neg-otium, negócio) afirmamos a possibilidade de, por algumas horas, nos
          liberarmos das exigências do mercado, poder gerar outras filiações e em alguma medida que
          algo possa começar uma e outra vez. Dentro dessa concepção, o cinema aparece como um
          alargador de experiências quando respiramos brevemente a intensidade da história do outro,
          transformando-a numa vivência do comum. É também um convite a abandonar o ponto de vista
          universal e a assumir a implicação subjetiva em cada ato de ver e dar a ver, como tomada de
          posição pedagógica, ética e política diante dos regímenes visuais configurados historicamente.
          <br /><br />
          Nesse mundo que multiplica e compartilha informação audiovisual, a escola pode se tornar
          uma espécie de mesa de montagem (ilha de edição) onde organizamos, cortamos, retardamos,
          aceleramos e fabulamos com o real. Fazer da escola um campo aberto à profanação e à
          suspeita e, com linguagens novas, duvidar daquilo que já se conhece, inclusive nossas próprias
          crenças e certezas.
          <br /><br />
          O propósito último desta plataforma é tornar acessível o que já é público, gerar um espaço de
          encontro entre pessoas, projetos, instituições e fazer deste espaço uma construção comum.
          Um lugar para reunir e conectar ações de pesquisa, ensino, extensão, iniciativas escolares,
          cursos de formação, entre outros formatos da educação formal; acervos; leis; documentos
          curriculares e escolares; produção acadêmica; e iniciativas de educação não formal que
          acabam reverberando nas escolas tais como coletivos comunitários, cineclubes, festivais; junto
          a uma série de abecedários audiovisuais, entrevistas e conversas entre pessoas que, de
          formas diferentes, são atravessadas pelas políticas e pedagogias que vinculam cinema e
          educação na escola.
          <br /><br />
          <i>Cinenaescola</i> é resultado de uma pesquisa de pós-doutorado 2019/2020, realizado no DIE
          CINVESTAV/México, sob a supervisão da Professora Inés Dussel por Adriana Fresquet
          (CINEAD 1 do Laboratório de Educação, Cinema e Audiovisual da Faculdade de Educação da
          UFRJ), com bolsa do Conselho Nacional de Desenvolvimento Científico e Tecnológico/ CNPq).

        </p>
      </div>
    </div>
  </div>

  <!--
  <div class="table-responsive text-nowrap" style="padding:0px; margin:0px !important;">
    <table class="table table-striped" style="padding:0px; margin:0px !important;">
      <tbody>
        <tr>
          <td>
            <div class="wrapper">
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/1.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/2.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/3.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/4.jpg) center center no-repeat;">
                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
              <div class="box">
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
                <div class="center_box" style="background: url(../../assets/img/5.jpg) center center no-repeat;">

                </div>
                <div class="boxes">
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                  <span class="small_box"></span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
--></section>

<!-- Services
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="mb-0" style="color: #BDB8AC;">Conteúdos</h3>
      <h2 class="mb-5">Aqui você encontrará</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-address-card"></i>
        </span>
        <h4>
          <strong>Abecedários</strong>
        </h4>
        <p class="text-faded mb-0">Vídeos de diálogos de cinema e educação</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-camera"></i>
        </span>
        <h4>
          <strong>Entrevistas</strong>
        </h4>
        <p class="text-faded mb-0">Entrevistas com diretores, cineastas, artistas</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-volume-up"></i>
        </span>
        <h4>
          <strong>podcast</strong>
        </h4>
        <p class="text-faded mb-0">Entrevistas em áudio sobre curiosidades de cinematecas
          <i class=""></i>
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-graduation-cap "></i>
        </span>
        <h4>
          <strong>Produção Acadêmica</strong>
        </h4>
        <p class="text-faded mb-0">Artigos e conteúdos criados pela parte acadêmica</p>
      </div>
    </div>
  </div>
</section> -->

<!-- Portfolio -->
<section
  class="content-section"
  style="background-color: #bdb8ac !important; padding-bottom: 0px !important;"
  id="portfolio"
>
  <div class="container-portfolio" style="padding-top: 15px;">
    <div class="content-section-heading text-center">
      <h3 class="mb-0" style="color: #f4e9db;">COLABORAÇÕES RECENTES</h3>
      <h2 class="mb-5" style="color: white;">Últimas postagens feitas na plataforma</h2>
    </div>
    <div class="row no-gutters" style="padding: 18px;">
      <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="true"
      interval="10000"
      [keyboard]="true"
      [pauseOnHover]="true"
      [wrap]="true"
      style="text-align: center;
      margin: auto;
      width: 100%;
">
      <ng-template ngbSlide style="text-align: center;
      margin: auto;
      width: 50%;
">
        <h1 title="Ir para o conteúdo" style="cursor: pointer;">Abecedário de Inês Girgel 
          <i class="fa fa-share" style="font: normal normal normal 14px/1 FontAwesome !important; font-size: 35px !important;"></i>
        </h1>
        
        <h3>Local: estrada</h3>
        <h3 style="margin-bottom: 50px;">
          Categoria: Abecedário
        </h3>
      </ng-template>

      <ng-template ngbSlide style="text-align: center;
      margin: auto;
      width: 50%;
">
        <h1>Marta Cardoso Guedes</h1>
        <h3>Local: estrada</h3>
        <h3 style="margin-bottom: 50px;">Categoria: Escola</h3>
      </ng-template>

      <ng-template ngbSlide style="text-align: center;
      margin: auto;
      width: 50%;
">
        <h1>Entrevista com Raúl Miranda</h1>
        <h3>Local: estrada</h3>
        <h3 style="margin-bottom: 50px;">Categoria: México</h3>
      </ng-template>

      <ng-template ngbSlide style="text-align: center;
      margin: auto;
      width: 50%;
">
        <h1>Abecedário de Virgínia Kastrup: cartografias da invenção</h1>
        <h3>Local: estrada</h3>
        <h3 style="margin-bottom: 50px;">Categoria: Abecedário</h3>
      </ng-template>

      <ng-template ngbSlide style="text-align: center;
      margin: auto;
      width: 50%;
">
        <h1>TESE DE DOUTORADO: A PRODUÇÃO DE PRESENÇA NEGRA NA FORMAÇÃO DE PROFESSORES PELOS OLHARES DECOLONIAIS DA CINEMATOGRAFIA DE ZÓZIMO BULBUL</h1>
        <h3>Local: estrada</h3>
        <h3 style="margin-bottom: 50px;">Categoria: Abecedário</h3>
      </ng-template>
  
    </ngb-carousel>
    </div>
  </div>
</section>

<!-- Portfolio Section 
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../assets/img/portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Categoria: Escola
            </div>
            <div class="project-name">
              Colégio Pedro II
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>-->

